body {
  background: url("/assets/images/notebook-pen.jpg");
  background-repeat: no-repeat;
  background-position: center; 
  height: 100vh;

}


.my-h2 {
  font-size: 25px;
}


.teal {
  color: white;
  background-color: rgb(90, 90, 96);
  padding: 0px 0px 15px 15px;
  font-family: 'Roboto Slab', serif;
  font-size: 25px;
  text-align: center;
  padding-bottom: 30px;
}

.jumbotron-fluid {
  text-align: center;
  font-family: 'Roboto Slab', serif;

  padding-right: 0;
  padding-left: 0;
  border-radius: 0;
  width: 50%;
  display: inline;
}

.container {
  background-color: rgb(96, 96, 114);
  width: 65%;
  padding-bottom: 40px;
  padding-top: 40px;
  color: white;
  opacity: 0.9;
  border: 6px double black;

}
.btn-outline-secondary:hover {
  background-color: rgb(7, 6, 12);

}

.btn {
  background-color: white;
}

/* .card-body:hover {


} */

.saveNoteForm {
  justify-content: center;
  margin: 0px auto;
  width: 100%;
  display: inline-grid;
}

.form-group {
  width: 400px;
}

.noteButton {
position: relative;
}

.card-body {

  text-align: center;
}

.card {
  border: 3px solid rgb(52, 51, 51);
  margin-left: 35%;

}

.card:hover {
  border: 6px solid black;
}

.fa-trash-alt {
  color: rgb(255, 0, 0);
}

.fa-trash-alt:hover {
size: 6em;
}

.delete-button {
  border: none;

}

#notesWrapper > .card {
  width: 300px;
  margin: auto;
  margin-bottom: 20px;
}